{% extends "AppBundle:Dash:base.html.twig" %}
{% block title %}Bebidas{% endblock %}

{% block body %}
    <h1>Category creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create"  class="btn btn-primary"/>
        <input type="reset" value="Vaciar campos" class="btn btn-default"/>
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('dash_category_index') }}"  class="btn btn-default">Regresar a la lista</a>
        </li>
    </ul>
{% endblock %}
