{% extends 'base.html.twig' %}
{% block pageclass %}error{% endblock %}
{% block hero %}{% endblock hero %}
{% block sections %}{% endblock %}
{% block javascripts %}{% endblock %}
{% block bodyclass %}error-page{% endblock %}
{% block body %}

<div id="error-section"  class="js-fullheight"  style="background: url({{ asset('/images/home-wide.jpg') }}) 100% 100%/cover;">
    <div class="container">
            <div class="col-md-6 fh5co-heading animate-box">
                <h2>{% trans %}Muchas gracias por su opinión...{% endtrans %}</h2>

                <p>{% trans %}Puede visitar nuestras páginas de Facebook o TripAdvisor en los siguientes
                    enlaces:{% endtrans %}</p>
    
    
    
    <a href="{{fb.valueEs}}" class="btn btn-primary" target="_blank">Facebook <i class="icon-facebook"></i></a>
    
    <a href="{{tripadv.valueEs}}" class="btn btn-primary" target="_blank">TripAdvisor <i class="icon-tripadvisor"></i></a></p>

    <hr>
                <p><a href="{{ path("homepage") }}" class="btn btn-primary">{% trans %}Regresar al Inicio{% endtrans %}
                        <i class="icon-arrow-right"></i></a>
            </div>
        
    </div>
</div>
    
{% endblock body %}
